<body>
    <main class="profile-page">
        <section class="relative block h-[500px]">
            <div class="absolute top-0 w-full h-full bg-center bg-cover" style="background-image: url(<%=asset_path('background.jpg')%>)">
                <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
            </div>
            <!-- New element for the text -->
            <div class="transform text-white text-center align-middle">
                <% if notice%>
                    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice%></p>
                <% end %>
            </div>
            <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
                <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                    <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <section class="relative py-16 bg-blueGray-200">
            <div class="container mx-auto px-4">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
                    <div class="px-6">
                        <div class="flex flex-wrap justify-center">
                            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
                                <div class="relative">
                                    <img alt="..." src= <%=asset_path("aceprideflag.jpg")%> class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]">
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-12">
                            <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">
                                <%=@user.full_name%> 
                            </h3>
                            <%if current_user == @profile.user%>
                                <%= link_to "Look for Matches", profile_matcher_index_path, class: "absolute right-4 top-10 z-10 transform -translate-y-1/2 px-4 py-2 bg-blue-500 text-white rounded-md" %>
                            <%else current_user != @profile.user%>
                                <%= link_to "Don't Match", profile_matcher_index_path, class: "absolute left-4 top-10 z-10 transform -translate-y-1/2 px-4 py-2 bg-blue-500 text-white rounded-md" %>
                                <%= form_with(model: @match, class: "contents") do |form| %>
                                <div class="inline">
                                    <%= form.hidden_field :matching_user_id, value: current_user.id %>
                                    <%= form.hidden_field :matched_with_user_id, value: @profile.user.id %>
                                    <%= form.submit class: "absolute right-4 top-10 z-10 transform -translate-y-1/2 px-4 py-2 bg-blue-500 text-white rounded-md" %>
                                </div>
                                <% end %>
                            <%end%>
                            <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
                                <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
                                Los Angeles, California
                            </div>
                            <div class="mb-2 text-blueGray-600 mt-10">
                                <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>Solution Manager - Creative Tim Officer
                            </div>
                            <div class="mb-2 text-blueGray-600">
                                <i class="fas fa-university mr-2 text-lg text-blueGray-400"></i>University of Computer Science
                            </div>
                        </div>
                        <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
                            <div class="flex flex-wrap justify-center">
                                <div class="w-full lg:w-9/12 px-4">
                                    <%= turbo_frame_tag @profile do %>
                                      <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                                          <%=@profile.bio%>
                                      </p>
                                      <%= link_to "Edit", edit_profile_path(@profile)%>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>